<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: layout(~{::title}, ~{::section})}">
<head>
    <title>Cardápio</title>
</head>
<body>

<section id="menu" class="section">
    <div class="container">
        <h2 class="section-title">Nossos Clássicos</h2>

        <div id="area-dos-pedidos"
             hx-get="/fragments/item_cardapio"
             hx-trigger="load, every 30s"
             hx-swap="innerHTML">

             <p>Carregando itens...</p>

        </div>
    </div>
</section>

</body>
</html>
