<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: layout(~{::title}, ~{::.content})}">
<head>
    <title>Sistema de Bar</title>
</head>
<body>

<div class="content">
<header class="hero">
    <div class="container hero-text">
        <h1>Bem vindo(a) ao bar da UFPI.</h1>
        <p>Sinta-se livre para olha o cardápio enquanto o garçom atende seus pedidos.</p>
        <a href="/cardapio" class="btn btn-outline">Ver Cardápio</a>
    </div>
</header>
</div>

</body>
</html>
